<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        
         
        <!--agregado para funcionamiento del calendario-->
        <script type="text/javascript">
            PrimeFaces.locales['es'] = {
                closeText: 'Cerrar',
                prevText: 'Anterior',
                nextText: 'Siguiente',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['01', '02', '03', '04', '05', '06', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                dayNamesMin: ['D', 'L', 'M', 'M ', 'J', 'V ', 'S'],
                weekHeader: 'Semana',
                FirstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Solo Titulo',
                timeText: 'Zeit',
                hourText: 'Hora',
                minuteText: 'Minuto',
                secondText: 'Segunda',
                currentText: 'Aktuelles Datum',
                ampm: false,
                month: 'Mes',
                week: 'Semana',
                day: 'Dia',
                allDayText: 'Todo el dia'
            };
        </script>
        <style type="text/css">
            .value {
                font-weight: bold;
            }
        </style> 
         <h:outputStylesheet library="css" name="estilos.css"/><!--estilos-->
           
    </h:head>
    <body>

        <ui:composition template="./../../base_plantilla/plantilla_base.xhtml">
            <ui:define name="top">
                <h:form>
                    <p:menubar > 
                         <p:submenu label="Home" icon="ui-icon-home" >
                                <p:menuitem   value="Inicio" url="../Bienvenido.xhtml"/>  
                        </p:submenu>
                        <p:submenu  label="Agregar" icon="ui-icon-document" >    
                            <p:menuitem value="Agregar Serie"
                                        actionListener="#{serieBean.prepararNuevaSerie()}"
                                        oncomplete="PF('dialogNuevaSerie').show();"
                                        update=":formAgregarSerie"/>   
                        </p:submenu>  
                    </p:menubar> 
                </h:form>  
                
                
            </ui:define> 
           

            <ui:define name="content"> 
                <h:form id="formMostrarSeries">
                   
                    <p:dataTable id="tablaSeries" var="s" value="#{serieBean.listas}" rows="5"
                                     paginator="true" paginatorPosition="top"
                                     rowsPerPageTemplate="5,10,15" 
                                     selection="#{serieBean.selecionSerieTabla}"
                                     rowKey="#{s.idSerie}"> 
                        
                        <p:column class="selecIndice" headerText="*-*"  selectionMode="multiple"/>
                           
                            <p:column headerText="Nombre">
                                <h:outputText value="#{s.nombre}" />
                            </p:column>

                            <p:column headerText="Año">
                                <h:outputText value="#{s.anio}" />
                            </p:column>

                            <p:column headerText="Calificacion">
                                <h:outputText value="#{s.calificacion}" />
                            </p:column>
 
                            <p:column headerText="Duracion">
                                <h:outputText value="#{s.duracion}" />
                            </p:column>
                            
                            <p:column headerText="Genero">
                                <h:outputText value="#{s.genero}" />
                            </p:column>
                            
                            <p:column headerText="Idioma">
                                <h:outputText value="#{s.idioma}" />
                            </p:column>
                            
                            <p:column headerText="informacion">
                                <h:outputText value="#{s.informacion}" />
                            </p:column>
                        
                            <p:column headerText="Capitulos">
                                <h:outputText value="#{s.capitulos}" />
                            </p:column>     
                        
                             <p:column headerText="Nacionalidad">
                                 <h:outputText value="#{s.nacionalidad}" />
                            </p:column> 
                           
                        <p:column headerText="Imagen">
                            <p:graphicImage cache="false" id="imagens"  value="#{imagenesSerieBean.imagenserie}" width="110" height="150">
                                    <f:param name="idpelis" value="#{s.idSerie}"/>
                                </p:graphicImage> 
                        </p:column>
                        <f:facet name="header">
                            <p:commandButton  class="elimDatos" process="tablaSeries" value="Eliminar Datos seleccionados" icon="ui-icon-trash"
                                   
                                  oncomplete="PF('multiCarDialog').show();"
                                  update=":formMostrarSeries:multiCarDetail" />
                        </f:facet>
                        <p:column  class="colModificar" headerText="-*Modificar*-">
                                  
                                <p:commandButton  oncomplete="PF('dialogModificarSerie').show();"
                                                  title="Modificar"  icon="ui-icon-pencil" update=":formModificarSerie" 
                                                  style="width:30px;">
                                    <f:setPropertyActionListener target="#{serieBean.serie}" value="#{s}"/>              
                                </p:commandButton>  
                        </p:column>
                            
                    </p:dataTable>
                    
                 <!--Dialog para eliminar los datos seleccionados-->
                <p:dialog  header="¿Está seguro de eliminar?" widgetVar="multiCarDialog"
                 modal="true" showEffect="fade" hideEffect="explode" resizable="false" width="400">
                    <p:outputPanel  id="multiCarDetail" style="text-align:center;">
                        <ui:repeat  value="#{serieBean.selecionSerieTabla}" var="se">
                            <h:outputText value="#{se.idSerie} - #{se.nombre}" style="display:block"/>
                        </ui:repeat> 
                    </p:outputPanel>
                    <p:commandButton value="Aceptar" oncomplete="PF('multiCarDialog').hide();" actionListener="#{serieBean.deleteSerie()}"/>&nbsp;&nbsp;
                    <p:commandButton value="Cancelar" update=":formMostrarSeries:tablaSeries" oncomplete="PF('multiCarDialog').hide();"/>
                </p:dialog>   
            </h:form>
               
                   <!--Formulario para Agregar una nueva serie-->
                   <h:form id="formAgregarSerie" enctype="multipart/form-data">
                       <p:dialog id="dlgNuevaSerie" 
                              widgetVar="dialogNuevaSerie" resizable="false"
                              showEffect="explode" hideEffect="explode" modal="true" >
                           <p:panelGrid columns="2" style="margin: 0 auto;">
                                <p:outputLabel value="Nombre"/>
                                <p:inputText value="#{serieBean.serie.nombre}"/> 
                                
                               <p:outputLabel value="Año"/>
                               <p:calendar id="german" value="#{serieBean.serie.anio}" locale="es"
                                           navigator="true" pattern="yyyy-MM-dd" required="true" />
                               
                               <p:outputLabel value="Calificación"/>
                               <p:inputNumber value="#{serieBean.serie.calificacion}"/>
                                   
                               <p:outputLabel value="Genero"/>
                               <p:inputText value="#{serieBean.serie.genero}"/>
                                   
                               <p:outputLabel value="Idioma"/>
                               <p:inputText value="#{serieBean.serie.idioma}"/>
                                   
                               <p:outputLabel value="Duración"/>
                               <p:inputNumber value="#{serieBean.serie.duracion}"/>
                                   
                               <p:outputLabel value="Informacion" />
                               <p:inputTextarea value="#{serieBean.serie.informacion}"/> 
                                
                               <p:outputLabel value="Capitulos"/>
                               <p:inputNumber value="#{serieBean.serie.capitulos}"/>  
                                   
                               <p:outputLabel value="Nacionalidad"/>
                               <p:inputText value="#{serieBean.serie.nacionalidad}"/>    
                                    
                               <p:outputLabel value="Imagen"/>    
                               <p:fileUpload value="#{serieBean.uploadedFile}"  mode="simple"/>
                           </p:panelGrid>
                               
                           <p:commandButton value="Guardar" actionListener="#{serieBean.addPelicula()}" 
                                         icon="ui-icon-disk" update= ":formMostrarSeries:tablaSeries"
                                         oncomplete="PF('dialogNuevaSerie').hide();" ajax="false"/><!--actualizo el la tabla para que me permita ver lo reciente agregado-->
                        <p:commandButton value="Cancelar" update=":formMostrarSeries:tablaSeries"
                                         oncomplete="PF('dialogNuevaSerie').hide();"/>    
                       </p:dialog>
                   </h:form>
                
                <!--Formulario para modificar una serie-->
                <h:form id="formModificarSerie" enctype="multipart/form-data">
                    <p:dialog id="dlgModificarSerie" 
                              widgetVar="dialogModificarSerie" resizable="false"
                              showEffect="explode" hideEffect="explode" modal="true">
                        <p:panelGrid columns="2" style="margin: 0 auto;" >
                            
                            <p:outputLabel value="Nombre"/>
                            <p:inputText value="#{serieBean.serie.nombre}"/> 

                            <p:outputLabel for="german" value="año"/> 
                            <p:calendar id="german" placeholder="#{serieBean.serie.anio}"
                                        value="#{serieBean.serie.anio}" locale="es"
                                        navigator="true" pattern="yyyy-MM-dd" />

                            <p:outputLabel value="Calificacion"/>
                             <p:inputNumber value="#{serieBean.serie.calificacion}"/>
                             
                            <p:outputLabel value="Duracion"/>
                            <p:inputNumber value="#{serieBean.serie.duracion}"/>   

                            <p:outputLabel value="Genero"/>
                            <p:inputText value="#{ serieBean.serie.genero}"/>  

                            <p:outputLabel value="Idioma"/>
                            <p:inputText value="#{ serieBean.serie.idioma}"/>  

                            <p:outputLabel value="Informacion"/>
                            <p:inputText value="#{serieBean.serie.informacion }"/>  
                            
                             <p:outputLabel value="Capitulos"/>
                             <p:inputNumber value="#{serieBean.serie.capitulos}"/>  
 
                             <p:outputLabel value="Nacionalidad"/>
                             <p:inputText value="#{serieBean.serie.nacionalidad}"/>
                             
                              <p:outputLabel value="Imagen"/>    
                               <p:fileUpload value="#{serieBean.uploadedFile}"  mode="simple"/>
                              
                        </p:panelGrid>   

                        <p:commandButton value="Guardar" actionListener="#{serieBean.updateSerie()}" 
                                         icon="ui-icon-disk"  update=":formMostrarSeries:tablaSeries"
                                         oncomplete="PF('dialogModificarSerie').hide();" ajax="false"/>
                        <p:commandButton value="Cancelar" update=":formMostrarSeries:tablaSeries"
                                         oncomplete="PF('dialogModificarSerie').hide();"/>    
                    </p:dialog>
                </h:form> 
            </ui:define>

          
        </ui:composition>

    </body>
</html>
 